workflows/n8n/Disparador Convocação.json
{
  "name": "Disparador Convocação",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "campaign_id"
            },
            {
              "name": "status"
            },
            {
              "name": "created_at"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        -32
      ],
      "id": "6664fa03-02ad-4fe2-9080-a40f2273ceab",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        688,
        272
      ],
      "id": "1c49c09e-f2fb-49b4-8aa1-1f32afd0ef45",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": "={{ $('Resgatar Status').item.json.message_delay }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        -48
      ],
      "id": "22e919c3-66eb-49fc-a194-3d92717c3ece",
      "name": "Wait",
      "webhookId": "1cb90ee9-b8fd-498a-9b12-f6d88d6648bb"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "campaign_id",
              "value": "={{ $('Resgatar Status').item.json.id }}"
            },
            {
              "column": "status",
              "value": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -48
      ],
      "id": "3f573248-2364-45ae-9316-17ec9b15a359",
      "name": "Resgatar Mensagens",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "NRqHF5gz4GjrdkXH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaigns",
          "mode": "list",
          "cachedResultName": "campaigns"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.campaign_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        -32
      ],
      "id": "52bfb24f-5f73-4c41-b808-2ca1dd1aff03",
      "name": "Resgatar Status",
      "credentials": {
        "postgres": {
          "id": "NRqHF5gz4GjrdkXH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HRXmB4sE64n8kcNA",
          "mode": "list",
          "cachedResultUrl": "/workflow/HRXmB4sE64n8kcNA",
          "cachedResultName": "Disparador Convocação"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_id": "={{ $('When Executed by Another Workflow').item.json.campaign_id }}",
            "status": "={{ $('When Executed by Another Workflow').item.json.status }}",
            "started_at": "={{ $('When Executed by Another Workflow').item.json.started_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1440,
        -48
      ],
      "id": "9752f6d2-2527-46ae-a472-35c0ea6b7b03",
      "name": "Call 'Disparador Convocação'"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "campaigns",
          "mode": "list",
          "cachedResultName": "campaigns"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.campaign_id }}",
            "status": "COMPLETED",
            "completed_at": "={{ new Date().toISOString() }}",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_template",
              "displayName": "message_template",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_size",
              "displayName": "batch_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_delay",
              "displayName": "message_delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_delay",
              "displayName": "batch_delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_retry",
              "displayName": "auto_retry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "max_retries",
              "displayName": "max_retries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retry_delay",
              "displayName": "retry_delay",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "FAILED",
                  "value": "FAILED"
                },
                {
                  "name": "CANCELLED",
                  "value": "CANCELLED"
                },
                {
                  "name": "COMPLETED",
                  "value": "COMPLETED"
                },
                {
                  "name": "PAUSED",
                  "value": "PAUSED"
                },
                {
                  "name": "RUNNING",
                  "value": "RUNNING"
                },
                {
                  "name": "PENDING",
                  "value": "PENDING"
                },
                {
                  "name": "DRAFT",
                  "value": "DRAFT"
                }
              ],
              "removed": false
            },
            {
              "id": "total_contacts",
              "displayName": "total_contacts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_count",
              "displayName": "sent_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivered_count",
              "displayName": "delivered_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_count",
              "displayName": "read_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "failed_count",
              "displayName": "failed_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completed_at",
              "displayName": "completed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "column_mapping",
              "displayName": "column_mapping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instance_name",
              "displayName": "instance_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "n8n_execution_id",
              "displayName": "n8n_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -304
      ],
      "id": "0fb08eef-9d95-4c71-a45b-5de75e9ca44b",
      "name": "Marcar como COMPLETED",
      "credentials": {
        "postgres": {
          "id": "NRqHF5gz4GjrdkXH",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c286a4b-f821-4d35-bbab-3b0158ef9fae",
              "leftValue": "={{ $json.status }}",
              "rightValue": "RUNNING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        -32
      ],
      "id": "103bfd31-f9c0-4373-8eb6-9c9e09774fa8",
      "name": "Verificar STATUS = 'RUNNING'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79e82205-b743-4683-b28d-b95d690349c7",
              "leftValue": "={{$json}}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -48
      ],
      "id": "5efa68dc-4167-458b-9fdf-ae172b8c0dc5",
      "name": "Verificar MESSAGES > 0?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9v7skOUHxue3mPoZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9v7skOUHxue3mPoZ",
          "cachedResultName": "Disparador de Mensangens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        -48
      ],
      "id": "7b0778cf-273c-4763-8c91-a00cafe746ad",
      "name": "Call 'Disparador de Mensangens'"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Resgatar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call 'Disparador Convocação'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Resgatar Mensagens": {
      "main": [
        [
          {
            "node": "Verificar MESSAGES > 0?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resgatar Status": {
      "main": [
        [
          {
            "node": "Verificar STATUS = 'RUNNING'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar STATUS = 'RUNNING'": {
      "main": [
        [
          {
            "node": "Resgatar Mensagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar MESSAGES > 0?": {
      "main": [
        [
          {
            "node": "Marcar como COMPLETED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Disparador de Mensangens'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Disparador de Mensangens'": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "99f20083-cc7c-425a-ab62-b40f9a283fa9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30b80c2ac0a3a0be2f495c0f721488ed3525e76d079a423915218cc2f1274902"
  },
  "id": "HRXmB4sE64n8kcNA",
  "tags": []
}